@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    font-family: Roboto, sans-serif;
  }

  .navbar-default {
    background-color: rgb(240, 240, 240);
  }
  
  .container h1 {
    font-size: 16px;
    color: #ABABAB;
    text-align: left;
  }

  .container h2 {
    font-size: 16px;
    color: #ABABAB;
    text-align: left;
  }

  .overview {
    background-color: #51B39B;
    box-shadow: 1px 1px 17px 0 #DFE6EB;
    color: #DDEAF5;
    padding: 25px 25px; 
    margin: 10px 0px; 
  }

  .boxes {
    background-color: white;
    box-shadow: 1px 1px 17px 0 #DFE6EB;
    color: #DDEAF5;
    padding: 25px 25px; 
    margin: 10px 0px; 
  }
  
  
  /* Menu Bar */
  
  .topnav a {
    float: left;
    display: block;
    color: #ABABAB;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
  }
  
  .topnav a:hover {
    color: black;
    text-decoration: none;

  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    color: black;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }