<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>repl.it</title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <!-- Top Bar -->
    <nav class="navbar navbar-default static-top">
        <div class="container">
            <a href="index.html">
            <img src="../htn_logo.svg" alt="Novella Logo" height=30px;/>
            </a>
            <div class="col-8">
                <img src="" alt=""/>
            </div>
            <div class="col-1" id="dp-align">
                <img src="../alexdp.jpg" alt="Profile Image" height=30px; id="dp"/>
            </div>
            <div class="col" id="user-align">
                <p id="username">Alex Drazilov</p>
                <p id="companyname">Bailey's Catering</p>
            </div>
        </div>
    </nav>

    <!-- Nav Bar-->
    <div class="container">
            <div class="row">
              <div class="topnav" id="myTopnav">
              <a href="index.html" id="index">Sales</a>
              <a href="marketing.html" id="marketing">Marketing</a>
              <a href="operations.html" id="operations">Operations</a>
              <a href="finances.html" id="finances">Finances</a>
              <a href="assistants.html" id="assistants">Assistants</a>
              <a href="add.html"><strong>+</strong></a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
              </a>
              </div>
            </div>
          </div>

    <br>

    <!-- Make this page active -->
    <script>
        document.getElementById("assistants").className = "active";
    </script>

    <!-- Content -->

    <div class="container" id="toanimate" style="display:none">
        <div class="row">
            <div class="col-sm-8">
                <h1>OVERVIEW</h1>
                
                <div class="as-boxes">
                    <div class="row">
                        <div class="col-sm-5" id="river">
                            <img src="../assistants2-01.svg" class="img-fluid" alt="River" style="margin-top:25px"/>
                        </div>
                        <div class="col" id="as-txt">
                            <h3>Taking Out a Loan</h3>
                            <p>With River</p>
                            <p class="grey-txt" href="">Interested in taking out a loan to help finance Bailey’s Catering? River, our smart assistant can give you recommendations based on your needs to help improve  your chances of receiving a loan. Chat with her today! </p>
                            <button id="river"><p class="white-txt">Get Started</p></button>
                        </div>
                    </div>
                </div>

                <div class="as-boxes">
                <div class="row">
                        <div class="col-sm-5" id="harper">
                            <img src="../assistants2-02.svg" class="img-fluid" alt="Harper"/>
                        </div>
                        <div class="col" id="as-txt">
                            <h3>Making a Large Investment</h3>
                            <p>With Harper</p>
                            <p class="grey-txt">Harper is here to help you with anything related to making a large investment. Whether this could be purchasing land, investing in a subsidiary or expanding into a new market.</p>
                            <button id="harper"><p class="white-txt">Get Started</p></button>
                        </div>
                    </div>
                </div>

                <div class="as-boxes">
                        <div class="row">
                            <div class="col-sm-5" id="jordan">
                                <img src="../assistants2-03.svg" class="img-fluid" alt="Jordan" style="margin-top:30px"/>
                            </div>
                            <div class="col" id="as-txt">
                                <h3>Preparing for Investors</h3>
                                <p>With Jordan</p>
                                <p class="grey-txt">It can be quite intimidating to prepare for an investor meeting, that's why Jordan would love to help out. Jordan understands what kind of financials an investor is looking to see and how to get there</p>
                                <button id="jordan"><p class="white-txt">Get Started</p></button>
                            </div>
                        </div>
                    </div>

            </div>

            <div class="col-sm-4">
                <h1>NOTES</h1>
                <div class="side-box">
                    <h3>What are Assistants?</h3>
                    <p class="grey-txt">Assistants are here to help. Intead of going directly to a consultant or bank, Novella’s smart assistants act as an intermediate step to help save you time and resources. Each assistant will inquire about your needs and provide proffessional advice based on your goals and your current financial position. Please be adviced that these assistants will only provide an estimate as to what steps to take or additional financial advice.</p>
                    <button id="blue"><p class="white-txt">Learn More</p></button>
                </div>
            </div>

    
    </div>

</div>

<!-- Content -->
<div class="container" id="page1" style="">
    <div class="as-boxes">
        <div class="row">
            <div class="col-sm-4" id="harper">
                <img src="../assistants2-02.svg" class="img-fluid" alt="Harper"/>
            </div> 
            <div class="col" id="as-txt">
                <h3>Hello! </h3>
                <h3>It's nice to meet you, Alex. </h3>
                <p>I hear that you're interested in potentially taking out a loan; can I ask, </p>
                <br>
                <form id="frm" action="" onsubmit="return false"> 
                    <section>
                        <label for="para">What are you taking the loan out for?</label>
                        <br>
                        <input rows="4" cols="50" type="text"></input>
                        <span class="button">
                            <button id="button" type="submit" onclick="intake()">Submit</button>
                        </span>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../script.js"></script>
<script src="../Chart.js"></script>
<script src="../operations_chart.js"></script>

</body>

</html>
