<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>repl.it</title>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  
  <body>

<!-- Top Bar -->
<nav class="navbar navbar-default static-top">
    <div class="container">
        <a href="index.html">
        <img src="{{ url_for('static',filename='images/htn_logo.svg') }}" alt="Novella Logo" height=30px;/>
        </a>
        <div class="col-8">
            <img src="" alt=""/>
        </div>
        <div class="col-1" id="dp-align">
            <img src="{{ url_for('static',filename='images/alexdp.jpg') }}" alt="Profile Image" height=30px; id="dp" />
        </div>
        <div class="col" id="user-align">
          <p id="username">Test</p>
          <p id="companyname">Test</p>
        </div>
    </div>
</nav>
    
<!-- Navbar -->
<div class="container">
    <div class="row">
      <div class="topnav" id="myTopnav">
      <a href="index.html" id="index">Sales</a>
      <a href="marketing.html" id="marketing">Marketing</a>
      <a href="operations.html" id="operations">Operations</a>
      <a href="finances.html" id="finances">Finances</a>
      <a href="assistants.html" id="assistants">Assistants</a>
      <a href="add.html"><strong>+</strong></a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
      </div>
    </div>
  </div>
<!--div id="nav-placeholder"></div>
<script>
$(function () {
    $("#nav-placeholder").load("topnav.html");
});
</script-->

<br>

<!-- Make this page active -->
<script>
document.getElementById("index").className = "active";
</script>
  <!-- Content -->

  <div class="container" id="toanimate" style="display:none">

    <div class="row">
      <div class="col-sm-8">
        <h1>OVERVIEW</h1>
        <div class="overview">
          <div class="row">
            <div class="col-sm-4">
                <h3>${{ revenue }}</h3>
                <p>Revenue</p>
              </div>
              <div class="col-sm-5">
                  <h3>${{ profit }}</h3>
                  <p>Profit</p>
              </div>
              <div class="col-sm-1">
                <h3>${{ profitability }}</h3>
                <p>Profitability</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <h1>NOTES</h1>
          <div class="boxes">
            <h2>Quick Update</h2>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="boxes">
          <h2>Today's Sales</h2>
          <canvas id="sales_chart" width="400px" height="250px" style="margin-top: 40px">
          </canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="boxes">
          <h2>Today's Statistics</h2>
          <div class="stats">
            <div class="row">
              <div class="col-sm-4">
                  <h3>${{ revenue_today }}</h3>
                  <p>Revenue</p>
                </div>
                <div class="col-sm-5">
                    <h3>${{ profit_today }}</h3>
                    <p>Profit</p>
                </div>
                <div class="col-sm-1">
                  <h3>${{ profitability_today }}</h3>
                  <p>Profitability</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="boxes">
          <h2>Today's Revenue Streams</h2>
            <h3>Max Buyer</h3>
            <h2>{{ max_buyer }}</h2>
        </div>
      </div>
    </div>

  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='javascript/Chart.js') }}"></script>

  <script>
var ctx = document.getElementById('sales_chart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri','Sat'],
        datasets: [{
            label: 'Revenue',
            data: {{ revenue_data }},
            borderColor: 'rgba(66,155,227,1)',
            backgroundColor: 'rgba(0,0,0,0)',
            pointBackgroundColor: 'rgba(66,155,227,1)',
            pointRadius: 2,
            pointHoverRadius: 5,
            borderWidth: 2,
        },
        {
            label: 'Profit',
            data: {{ profit_data }},
            borderColor: 'rgba(81,179,155,1)',
            backgroundColor: 'rgba(0,0,0,0)',
            pointBackgroundColor: 'rgba(81,179,155,1)',
            pointRadius: 2,
            pointHoverRadius: 5,
            borderWidth: 2,
        }]
    },
    options: {
        legend : {
            display: true,
            position: 'bottom',
            fillStyle:'rgba(66,155,227,1)',
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
});
</script>

  </body>
</html>
