<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1", "shrink-to-fit=no">
    <title>repl.it</title>
    <link href="{{ url_for('static',filename='styles/style.css') }}" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  
  <body>

<!-- Top Bar -->
<nav class="navbar navbar-default static-top">
    <div class="container">
        <a href="index.html">
        <img src="../htn_logo.svg" alt="Novella Logo" height=30px;/>
        </a>
        <div class="col-8">
            <img src="" alt=""/>
        </div>
        <div class="col-1" id="dp-align">
          <img src="{{ url_for('static',filename='images/alexdp.png') }}" alt="Profile Image" height=30px; id="dp"/>
        </div>
        <div class="col" id="user-align">
          <p id="username">Test</p>
          <p id="companyname">Test</p>
        </div>
    </div>
</nav>
    
<!-- Render Nav Bar-->
<div id="nav-placeholder"></div>
<script>
    $(function(){
    $("#nav-placeholder").load("topnav.html");
    });
</script>
<br>

  <!-- Content -->

  <div class="container" id="toanimate" style="display:none">

    <div class="row">
      <div class="col-sm-8">
        <h1>OVERVIEW</h1>
        <div class="overview">
          <div class="row">
            <div class="col-sm-4">
                <h3>test</h3>
                <p>Revenue</p>
              </div>
              <div class="col-sm-5">
                  <h3>test</h3>
                  <p>Profit</p>
              </div>
              <div class="col-sm-1">
                <h3>test</h3>
                <p>Profitability</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <h1>NOTES</h1>
          <div class="boxes">
            <h2>Quick Update</h2>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="boxes">
          <h2>Today's Sales</h2>
          <canvas id="sales_chart" width="400px" height="250px" style="margin-top: 40px">
          </canvas>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="boxes">
          <h2>Today's Statistics</h2>
          <div class="stats">
            <div class="row">
              <div class="col-sm-4">
                  <h3>test</h3>
                  <p>Revenue</p>
                </div>
                <div class="col-sm-5">
                    <h3>test</h3>
                    <p>Profit</p>
                </div>
                <div class="col-sm-1">
                  <h3>test</h3>
                  <p>Profitability</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="boxes">
          <h2>Today's Revenue Streams</h2>
        </div>
      </div>
    </div>

  </div>>

  <script src="../script.js"></script>
  <script src="../Chart.js"></script>
  <script src="../sales_chart.js"></script>

  </body>
</html>
