<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>repl.it</title>
    <link href="../style.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <!-- Top Bar -->
    <nav class="navbar navbar-default static-top">
        <div class="container">
            <a href="index.html">
            <img src="../logo.svg" alt="Novella Logo" height=50px; class="logo"/>
            </a>
            <div class="col-8">
                <img src="" alt=""/>
            </div>
            <div class="col-1" id="dp-align">
                <img src="../alexdp.jpg" alt="Profile Image" height=40px; id="dp"/>
            </div>
            <div class="col" id="user-align">
                <p id="username">Alex Drazilov</p>
                <p id="companyname">Bailey's Catering</p>
            </div>
        </div>
    </nav>
    
    <!-- Nav Bar-->
    <div class="container">
            <div class="row">
              <div class="topnav" id="myTopnav">
              <a href="index.html" id="index">Sales</a>
              <a href="marketing.html" id="marketing">Marketing</a>
              <a href="operations.html" id="operations">Operations</a>
              <a href="finances.html" id="finances">Finances</a>
              <a href="assistants.html" id="assistants">Assistants</a>
              <a href="add.html"><strong>+</strong></a>
              <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
              </a>
              </div>
            </div>
          </div>

    <br>

    <!-- Make this page active -->
    <script>
        document.getElementById("operations").className = "active";
    </script>

    <!-- Content -->

    <div class="container" id="toanimate" style="display:none">
        <div class="row">
            <div class="col-sm-8">
                <h1>OVERVIEW</h1>
                
                <div class="overview">
                    <div class="row">
                        <div class="col-sm-4">
                            <h3>{{ cash }}</h3>
                            <p>In Cash</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>test</h3>
                            <p>COGS</p>
                        </div>
                        <div class="col-sm-4">
                            <h3>{{ biggest_exp }}</h3>
                            <p>Biggest Expense</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="boxes">
                            <h2>Today's Operations</h2>
                            <canvas id="operations_chart" width="400px" height="250px" style="margin-top: 40px">
                            </canvas>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="boxes">
                            <h2>Main Sources of Cash</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="boxes">
                            <h2>Main Uses of Cash</h2>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="boxes">
                            <h2>Age of Inventory</h2>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-4">
                <h1>NOTES</h1>
                <div class="side-box">
                    <h2>A Suggestion</h2>
                    <img src="../pink.png"
                        class="img-fluid illustration" alt="Responsive image">
                    <h3 style="font-size: 16px !important";>Age of Account Receivables</h3>
                    <p class="grey-txt">Taking a look at the <b class="pink-txt">day to day operations</b> of Bailey's Catering, we can see that cash is being generated from operations, which is <b class="pink-txt"> highly sustainable</b>. In the future, by collecting on invoices faster, it would be possible decrease the gap in working capital and lower the dependency on a loan.</p>
                </div>
            </div>

    
    </div>

</div>
<script src="../script.js"></script>
<script src="../Chart.js"></script>
<script src="../operations_chart.js"></script>

</body>
<footer style="height:80px"> 

    </footer>

</html>
