<!DOCTYPE html>
<html>
<div class="container">
  <div class="row">
    <div class="topnav" id="myTopnav">
    <a href="index.html" class="active">Sales</a>
    <a href="marketing.html">Marketing</a>
    <a href="operations.html">Operations</a>
    <a href="finances.html">Finances</a>
    <a href="assistants.html">Assistants</a>
    <a href="add.html"><strong>+</strong></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    </div>
  </div>
</div>
</html>